.DirectBar{
    display: inline-block;
    width: 100vw;
    height: 4vw;
    background-color: grey;
}

#barFoot{
    font-weight: 900;
}

.BarElement{
    float:left;
    position: relative;
    background-color:rgb(0, 0, 0);
    color: red;
    font-size: 20px;
    width: fit-content;
    height: 4vw;
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
    outline-style: solid;
    outline-color: white;
    outline-width: 1px;
}

.BarElementWrapper{
    position: relative;
    float: left;
}

.BarElement:not(#barFoot){
    padding-left: 20px;
    padding-right: 20px;
    border-color: white;
    border-top: 0px;
    border-bottom: 0px;
}

.BarElement.Rel:hover{
    color: black;
    background-color: red;
}


.dropdown{
    width: fit-content;
    height: fit-content;
    display: none;
}

.dropdown-element{
    position: relative;
    font-size: 20px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

.BarElementWrapper:hover > .dropdown{
    display:block;
    transition: linear all 0.2s;
}

